@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #fff;
}

/* ------- Navbar  -------*/

.navbar-section {
    padding: 0px;
    margin: 0px;
}

.logo {
    width: 110px;
}

#navItem {
    color: #323f4b;
    font-size: 18px;
}

/* ------bannerSection------- */
.bannerSection {
    text-align: center;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('https://static.wixstatic.com/media/2d34e5_b96feb5aa75f4ce19f5076356fb4ce9c~mv2.jpg/v1/fill/w_640,h_498,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/2d34e5_b96feb5aa75f4ce19f5076356fb4ce9c~mv2.jpg');
    background-size: cover;
    padding: 18px;
    height: 100vh;
}

.banner-h1 {
    color: #ffffff;
    padding-bottom: 20px;
    font-size: 45px;
}

.banner-description {
    color: #c1bebe;
    font-size: 24px;
}

@media screen and (min-width: 576px) {
    .bannerSection {
        background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/ba/Delphi_BW_2017-10-08_11-38-38.jpg');
    }

    .banner-h1 {
        font-size: 60px;
    }

    .banner-description {
        font-size: 30px;
    }
}

/* Package-Section */

.package-card {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 9px;
    transition: 150ms;
    margin-left: 10px;
}

.package-card:hover {
    transform: rotate(360deg);
}

.holiday-img {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    max-height: 230px;
}

.packgaes-h1 {
    padding: 25px;
    color: #000;
    font-weight: 600;
}

/* Flight */
#flight {
    padding: 20px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 6px;
    font-size: 20px;
}

.flight-h1 {
    color: #000;
    padding-bottom: 10px;
    font-weight: 600;
}

/* hotels */
#hotel {
    padding: 20px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 6px;
    font-size: 20px;
}

.hotel-h1 {
    color: #000;
    padding-bottom: 10px;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .packgaes-h1 {
        font-size: 36px;
        font-weight: normal;
    }

    #flight {
        min-height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flight-h1 {
        font-size: 34px;
        padding-bottom: 18px;
        font-weight: normal;
    }

    #hotel {
        min-height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hotel-h1 {
        font-size: 34px;
        padding-bottom: 18px;
        font-weight: normal;
    }

}

/* collection */
.Collection-card {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 9px;
}

.collection-img {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    max-height: 230px;
    width: 100%;
}

.collection-h1 {
    color: #000;
    font-weight: 600;
    padding: 25px;
}

@media screen and (min-width: 768px) {
    .collection-h1 {
        font-size: 36px;
        font-weight: normal;
    }
}

/* footer */
.footer-section {
    background-color: #0d2436;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}
